[submodule "src/map-arachnid2_src.dpkdir"]
	path = pkg/map-arachnid2_src.dpkdir
	url = ../map-arachnid2_src.dpkdir.git
[submodule "src/map-area3_src.dpkdir"]
	path = pkg/map-area3_src.dpkdir
	url = ../map-area3_src.dpkdir.git
[submodule "src/map-atcshd_src.dpkdir"]
	path = pkg/map-atcshd_src.dpkdir
	url = ../map-atcshd_src.dpkdir.git
[submodule "src/map-atcszalpha_src.dpkdir"]
	path = pkg/map-atcszalpha_src.dpkdir
	url = ../map-atcszalpha_src.dpkdir.git
[submodule "src/map-bluedragon_src.dpkdir"]
	path = pkg/map-bluedragon_src.dpkdir
	url = ../map-bluedragon_src.dpkdir.git
[submodule "src/map-citadel_src.dpkdir"]
	path = pkg/map-citadel_src.dpkdir
	url = ../map-citadel_src.dpkdir.git
[submodule "src/map-cruz_src.dpkdir"]
	path = pkg/map-cruz_src.dpkdir
	url = ../map-cruz_src.dpkdir.git
[submodule "src/map-eden_src.dpkdir"]
	path = pkg/map-eden_src.dpkdir
	url = ../map-eden_src.dpkdir.git
[submodule "src/map-gloom2_src.dpkdir"]
	path = pkg/map-gloom2_src.dpkdir
	url = ../map-gloom2_src.dpkdir.git
[submodule "src/map-karith_src.dpkdir"]
	path = pkg/map-karith_src.dpkdir
	url = ../map-karith_src.dpkdir.git
[submodule "src/map-methane_src.dpkdir"]
	path = pkg/map-methane_src.dpkdir
	url = ../map-methane_src.dpkdir.git
[submodule "src/map-moonbase_src.dpkdir"]
	path = pkg/map-moonbase_src.dpkdir
	url = ../map-moonbase_src.dpkdir.git
[submodule "src/map-nano_src.dpkdir"]
	path = pkg/map-nano_src.dpkdir
	url = ../map-nano_src.dpkdir.git
[submodule "src/map-nexus6_src.dpkdir"]
	path = pkg/map-nexus6_src.dpkdir
	url = ../map-nexus6_src.dpkdir.git
[submodule "src/map-niveus_src.dpkdir"]
	path = pkg/map-niveus_src.dpkdir
	url = ../map-niveus_src.dpkdir.git
[submodule "src/map-orion_src.dpkdir"]
	path = pkg/map-orion_src.dpkdir
	url = ../map-orion_src.dpkdir.git
[submodule "src/map-procyon_src.dpkdir"]
	path = pkg/map-procyon_src.dpkdir
	url = ../map-procyon_src.dpkdir.git
[submodule "src/map-pulse_src.dpkdir"]
	path = pkg/map-pulse_src.dpkdir
	url = ../map-pulse_src.dpkdir.git
[submodule "src/map-rsmse_src.dpkdir"]
	path = pkg/map-rsmse_src.dpkdir
	url = ../map-rsmse_src.dpkdir.git
[submodule "src/map-sirius_src.dpkdir"]
	path = pkg/map-sirius_src.dpkdir
	url = ../map-sirius_src.dpkdir.git
[submodule "src/map-terminus_src.dpkdir"]
	path = pkg/map-terminus_src.dpkdir
	url = ../map-terminus_src.dpkdir.git
[submodule "src/map-transit_src.dpkdir"]
	path = pkg/map-transit_src.dpkdir
	url = ../map-transit_src.dpkdir.git
[submodule "src/map-tremor_src.dpkdir"]
	path = pkg/map-tremor_src.dpkdir
	url = ../map-tremor_src.dpkdir.git
[submodule "src/map-uncreation_src.dpkdir"]
	path = pkg/map-uncreation_src.dpkdir
	url = ../map-uncreation_src.dpkdir.git
[submodule "src/map-utcs_src.dpkdir"]
	path = pkg/map-utcs_src.dpkdir
	url = ../map-utcs_src.dpkdir.git
[submodule "src/map-veddak_src.dpkdir"]
	path = pkg/map-veddak_src.dpkdir
	url = ../map-veddak_src.dpkdir.git
[submodule "src/map-wrecktify_src.dpkdir"]
	path = pkg/map-wrecktify_src.dpkdir
	url = ../map-wrecktify_src.dpkdir.git
[submodule "src/res-tremulous_src.dpkdir"]
	path = pkg/res-tremulous_src.dpkdir
	url = ../res-tremulous_src.dpkdir.git
